@import '../../styles/colors.scss';

.сlass-search {
  height: 57px;
  display: flex;
  justify-content: space-between;

  &__search {
    width: 60vw;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    background: rgba(50, 50, 50, 0.8);
    mix-blend-mode: normal;
    opacity: 0.7;
    border-radius: 4px;
    margin-right: 14px;
    padding: 15px;
  }

  &__button {
    width: 180px;
    background: $project-red;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: $project-white;
  }
}
