@import '@color/colors.scss';

.header {
  background-image: url('./background.png');

  &__wrapper {
    padding: 20px 40px 151px;
    max-width: 1180px;
    margin: 0 auto;
  }

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-red;
    font-weight: 500;

    &-color {
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 900;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
    }
  }

  &__writing {
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 40px;  
    font-weight: 300;
    line-height: 49px;
    letter-spacing: 1px;
    text-align: center;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &__button {
    padding: 11px 18px;
  }
}